.Board {
  margin: 20px auto; /* Adjust margin as needed */
  border-collapse: collapse;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of the viewport */
}
